Mision1/proyecto1/env3.14.0/
Mision1/proyecto1/__pycache__/
Mision1/proyecto1/.pytest_cache/
Mision2/proyecto_tkinter_ia_excel/env3.14.0/
Mision2/proyecto_tkinter_ia_excel/__pycache__/
Mision2/proyecto_tkinter_ia_excel/.pytest_cache/
Mision2/Reto1/env3.14.0/
Mision2/Reto1/__pycache__/
Mision2/Reto1/.pytest_cache/
SAVE_ENERGY/__pycache__/anomaly.cpython-314.pyc
SAVE_ENERGY/venv3.13/
Mision3/version3/main.py/