/* Color del fondo columna izquierda */
*{
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background-color: #2c3e50 !important;
}

/* .imagen{
    max-width: 20%; de esta forma se reduce el tamaño de la imagen 
} */

/* opacidad barra progreso */
.progress{
    background-color: rgba(255,255,255, 0.2);
}

/* cambio color texto col dere */
.text-primary{
    color: #3498db !important;
}

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta al pasar el cursor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Añade una sombra más pronunciada */
}