/* ============================= */
/* MACHINE VIEW - REGISTRO */
/* ============================= */

/* PANEL PRINCIPAL */
.panel{
    max-width:1500px;
    margin:40px auto;
    background:#081f3d;
    border:2px solid #ffd500;
    border-radius:20px;
    padding:40px;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
}

/* TITULOS */
.panel h2{
    font-size:34px;
    color:#ffd500;
    margin-bottom:10px;
}

.panel p{
    font-size:16px;
    color:#ffffff;
    margin-bottom:25px;
}

/* GRID FORMULARIO */
.form-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
    margin-bottom:25px;
}

/* INPUTS */
.form-grid input,
.form-grid textarea{
    width:100%;
    padding:14px;
    background:#0a1f44;
    border:2px solid #ffd500;
    border-radius:10px;
    color:#ffffff;
    font-size:14px;
    outline:none;
    transition:0.3s;
}

.form-grid input::placeholder,
.form-grid textarea::placeholder{
    color:#cccccc;
}

.form-grid input:focus,
.form-grid textarea:focus{
    border-color:#ffffff;
    box-shadow:0 0 10px rgba(255,255,255,0.3);
}

/* OBSERVACIONES */
.form-grid textarea{
    grid-column:span 4;
    min-height:120px;
    resize:none;
}

/* BOTÓN GUARDAR */
.main-btn{
    padding:15px 40px;
    background:#ffd500;
    color:#000;
    font-weight:bold;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.main-btn:hover{
    background:#ffea70;
    transform:scale(1.05);
    box-shadow:0 0 20px rgba(255,213,0,0.5);
}

/* LINEA DIVISORIA */
.panel hr{
    margin:40px 0;
    border:1px solid #ffd500;
}

/* ZONA PELIGRO */
.panel h3{
    color:#ff4c4c;
    font-size:24px;
    margin-bottom:8px;
}

.panel .danger-btn{
    padding:12px 28px;
    background:red;
    color:#fff;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

.panel .danger-btn:hover{
    background:#ff3333;
    transform:scale(1.05);
}

/* INPUT CLAVE */
#deleteKey{
    padding:12px;
    border-radius:8px;
    border:2px solid red;
    background:#000;
    color:#fff;
    outline:none;
    margin-right:10px;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media(max-width:1200px){
    .form-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .form-grid textarea{
        grid-col
